.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
